* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: radial-gradient(farthest-corner at 40% 30%, hsl(180, 100%, 70%) 20%, hsl(220, 100%, 70%));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#drum-machine {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  max-width: 32rem;
  flex-direction: column;
  margin: 0 auto;
}

#drum-pad-container {
  display: flex;
  flex-wrap: wrap;
  width: 11rem;
  justify-content: center;
  margin: 0.5rem auto;
}

.drum-pad {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0.2rem;
  border: rgba(0, 0, 0, 0.5);
}

#title {
  width: 100%;
  text-align: center;
}

#display-container {
  padding: 0.5rem 1rem 1rem 1rem;
  text-align: center;
  min-width: 6.25rem;
  color: white;
  border-radius: 0.25rem;
  
  p {
    margin-bottom: 0.4rem;
  }
}

#display {
  background-color: white;
  padding: 1rem;
  min-width: 6.25rem;
  color: black;
}

#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem auto;
  width: 100%;
  align-items: center;
}

#controls {
  text-align: center;
  min-width: 8rem;
  margin: 1rem 0;
  padding: 0 0.5rem;
  
  button {
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    display: block;
    width: 100%;
  }
}

.footer {
  text-align: center;
  font-size: 0.7rem;
  margin: 2rem auto 0 auto;
}